<div class="container-bg">
  <div class="container">
    <header id="top">
      <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="form-inline">
                <div class="form-group">
                    <select class="form-weather" #state>
                      <option disabled selected>UF</option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AP">AP</option>
                      <option value="AM">AM</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SP">SP</option>
                      <option value="SE">SE</option>
                      <option value="TO">TO</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input placeholder="Cidade..." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-weather" #searchCity>
                  </div>
                  <div class="form-group">
                    <button class="default-btn" (click)="changeLocation(searchCity.value, state.value)"><i class="ti-search"></i></button>
                  </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="city">
            <div class="city-container">
              <h1 class="city">{{ weatherNow.name }} - {{ weatherNow.state }}</h1>
              <div class="buttons">
                <button (click)="addCity()">
                  <i class="ti-star" [ngClass]="{ 'yellow': isFavorite(), 'white': !isFavorite()  }"></i>
                </button>
              </div>
            </div>
            <span class="country">Brasil</span>
            <span class="date">{{ weatherNow.data.date | date:'short'}}</span>
            <span class="tip">
              <i class="ti-light-bulb"></i> {{ getCondition(weatherNow.data.icon) }}
            </span>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="weather-now">
            <div class="weather">
              <img src="assets/img/weather/{{ weatherNow.data.icon }}.png">
              <h2>{{ weatherNow.data.condition }}</h2>
            </div>
            <div class="details">
              <span class="avg-temperature">
                <i class="ti-arrow-up"></i> {{ weatherData.temperature.max }}°
              </span>
              <span class="avg-temperature">
                <i class="ti-arrow-down"></i> {{ weatherData.temperature.min }}°
              </span>
              <span class="temperature">
                {{ weatherNow.data.temperature }}°
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="weather">
      <div class="row">
        <div *ngIf="weatherAll != undefined" class="col-12 col-md-5">
          <div class="cards">
            <div class="card-header">
              <h2>
                <i class="ti-shine"></i> Durante a semana
              </h2>
            </div>
            <div class="card-container">
              <ul class="list-weather">
                <ng-container *ngFor="let item of weatherAll.data; let i=index">
                  <li *ngIf="i<7" class="item-weather">
                    <span class="day">{{ item.date | date:'EEE' }}</span>
                    <span class="icon-weather">
                      <img src="assets/img/weather/{{ item.text_icon.icon.dawn }}.png">
                    </span>
                    <span class="temperature">min {{ item.temperature.min }}°</span>
                    <span class="temperature">max {{ item.temperature.max }}°</span>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="cards">
            <div class="card-header">
              <h2>
                <i class="ti-bar-chart"></i> Variação da Temperatura</h2>
            </div>
            <div class="card-container">
              <canvas id="chartTemperature" height="150">{{ chart }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="bg" *ngIf="urlBackground != undefined"  [ngStyle]="{'background-image': 'url(' + urlBackground + ')'}"></div>
</div>
<div id="toast"></div>
