<div class="container-bg">
  <div class="container">
    <header id="top">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="city">
            <div class="city-container">
              <h1 class="city">Blumenau - SC</h1>
              <div class="buttons">
                <button>
                  <i class="ti-star"></i>
                </button>
                <button>
                  <i class="ti-location-pin"></i> Alterar Localização</button>
              </div>
            </div>
            <span class="country">Brasil</span>
            <span class="date">3/11, 8:27 AM</span>
            <span class="tip">
              <i class="ti-light-bulb"></i> O dia está ótimo para uma caminhada.
            </span>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="weather-now">
            <div class="weather">
              <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
              <h2>Nublado</h2>
            </div>
            <div class="details">
              <span class="avg-temperature">
                <i class="ti-arrow-up"></i> 29°
              </span>
              <span class="avg-temperature">
                <i class="ti-arrow-down"></i> 22°
              </span>
              <span class="temperature">
                22°
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="weather">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="cards">
            <div class="card-header">
              <h2>
                <i class="ti-shine"></i> Durante a semana
              </h2>
            </div>
            <div class="card-container">
              <ul class="list-weather">
                <li class="item-weather">
                  <span class="day">Seg.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
                <li class="item-weather">
                  <span class="day">Ter.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
                <li class="item-weather">
                  <span class="day">Qua.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
                <li class="item-weather">
                  <span class="day">Qui.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
                <li class="item-weather">
                  <span class="day">Sex.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
                <li class="item-weather">
                  <span class="day">Sab.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
                <li class="item-weather">
                  <span class="day">Dom.</span>
                  <span class="icon-weather">
                    <img src="https://icons.wxug.com/i/c/i/partlycloudy.gif">
                  </span>
                  <span class="temperature">min 22°</span>
                  <span class="temperature">max 22°</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="cards">
            <div class="card-header">
              <h2>
                <i class="ti-bar-chart"></i> Variação da Temperatura</h2>
            </div>
            <div class="card-container">
              <canvas id="chartTemperature" height="150"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="bg" style="background-image:url('http://blog.avianca.com.br/wp-content/uploads/2017/05/BLUMENAU-SC-iStock-605987594-2.jpg')"></div>
</div>
