<div class="container-bg">
  <div class="container">
    <header id="top">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="city">
            <div class="city-container">
              <h1 class="city">{{ weatherNow.name }} - {{ weatherNow.state }}</h1>
              <div class="buttons">
                <button (click)="addCity()">
                  <i class="ti-star"></i>
                </button>
                <button (click)="open(content)">
                  <i class="ti-location-pin"></i> Alterar Localização</button>
              </div>
            </div>
            <span class="country">Brasil</span>
            <span class="date">{{ weatherNow.data.date | date:'short'}}</span>
            <span class="tip">
              <i class="ti-light-bulb"></i> O dia está ótimo para uma caminhada.
            </span>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="weather-now">
            <div class="weather">
              <img src="assets/img/weather/{{ weatherNow.data.icon }}.png">
              <h2>{{ weatherNow.data.condition }}</h2>
            </div>
            <div class="details">
              <span class="avg-temperature">
                <i class="ti-arrow-up"></i> {{ weatherData.temperature.max }}°
              </span>
              <span class="avg-temperature">
                <i class="ti-arrow-down"></i> {{ weatherData.temperature.min }}°
              </span>
              <span class="temperature">
                {{ weatherNow.data.temperature }}°
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="weather">
      <div class="row">
        <div *ngIf="weatherAll != undefined" class="col-12 col-md-5">
          <div class="cards">
            <div class="card-header">
              <h2>
                <i class="ti-shine"></i> Durante a semana
              </h2>
            </div>
            <div class="card-container">
              <ul class="list-weather">
                <ng-container *ngFor="let item of weatherAll.data; let i=index">
                  <li *ngIf="i<7" class="item-weather">
                    <span class="day">{{ item.date | date:'EEE' }}</span>
                    <span class="icon-weather">
                      <img src="assets/img/weather/{{ item.text_icon.icon.dawn }}.png">
                    </span>
                    <span class="temperature">min {{ item.temperature.min }}°</span>
                    <span class="temperature">max {{ item.temperature.max }}°</span>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="weatherAll != undefined" class="col-12 col-md-7">
          <div class="cards">
            <div class="card-header">
              <h2>
                <i class="ti-bar-chart"></i> Variação da Temperatura</h2>
            </div>
            <div class="card-container">
              <canvas id="chartTemperature" height="150">{{ chart }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="bg" style="background-image:url('')"></div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
      <div class="new-location">
        <i class="ti-location-pin"></i> Nova Localização
      </div>
      <div class="bookmarks">
        <span>
            <i class="ti-star"></i> Favoritos
        </span>
        <ul class="list-bookmarks">
          <li class="item-favorite">Campo Grande - MS</li>
          <li class="item-favorite">Socorro - SP</li>
          <li class="item-favorite">Franca - SP</li>
          <li class="item-favorite">Blumenau - SC</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-light" (click)="updateCity()">Atualizar</button>
      <button type="button" class="btn btn-sm btn-outline-light" (click)="c('Close click')"><i class="ti-close"></i></button>
    </div>
</ng-template>
